[MASTER]
load-plugins=pylint_django
django-settings-module=smosearch.settings_default
disable=C0415,R0917,R0903,R0912,W0611,R0914,R0915,W0718,E1101 

[DESIGN]
generated-members=objects
max-parents=15
max-attributes=15
max-args = 15
max-nested-blocks = 7
