{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preload" href="/static/fonts/a34f9d1faa5f3315-s.p.woff2" as="font" crossorigin="" type="font/woff2" />
        <meta name="next-size-adjust" content="" />
        <meta name="robots" content="noindex, nofollow, noarchive" />
        <meta name="googlebot" content="noindex, nofollow, noarchive, noimageindex" />
        <title>{% block title %}{%endblock title%}</title>
        <meta name="description" content="Stepmania search engine" />
        <meta name="robots" content="noindex, nofollow, nocache" />
        <meta name="googlebot" content="noindex, nofollow, noimageindex" />
        {% if pack %}
        {% load humanize %}
        <meta property="og:title" content="{{ pack.name }} - {{ pack.size|filesizeformat }}" />
        <meta property="og:description" content="Contains {{ pack.song_count }} songs" />
        {% if pack.banner %}
        <meta property="og:image" content="https://stepmaniaonline.net/media/images/packs/{{ pack.banner }}" />
        <meta property="og:image:width" content="836">
        <meta property="og:image:height" content="328">
        {% endif %}
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:type" content="website" />
        {% endif %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/static/css/base.css" data-precedence="next" />
        <link rel="stylesheet" href="/static/css/custom.css" data-precedence="next" />
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jcanvas/21.0.1/jcanvas.js"></script>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    </head>
    <body class="__className_d65c78">
        <div class="min-vh-100">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand d-flex align-items-center no-hover" href="/">
                        <img
                            alt="Rhythm Game Logo"
                            loading="lazy"
                            width="50"
                            src="/static/images/smo-logo.png"
                        />
                        <span class="fs-4 fw-bold">Stepmania Online</span>
                    </a>
                    <button class="navbar-dark navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="nav ms-auto">
                            <li class="nav-item text-light"><a href="/" class="nav-link{% if request.path == '/' %} active{% endif %}">Home</a></li>
                            <li class="nav-item text-light"><a href="/packs" class="nav-link{% if request.path == '/packs' %} active{% endif %}">Packs</a></li>
                            <!--<li class="nav-item"><a href="/songs" class="nav-link{% if request.path == '/songs' %} active{% endif %}">Songs</a></li>-->
                            <li class="nav-item text-light"><a href="/faq" class="nav-link{% if request.path == '/faq' %} active{% endif %}">FAQ</a></li>
                        </div>
                    </div>
                </div>
            </nav>


   
{% block content %}{% endblock content %}

{% include "components/footer.html" %}
</html>

{% block scripts %}{% endblock scripts %}
