{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{%endblock title%}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jcanvas/21.0.1/jcanvas.js"></script>

</head>

<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-4">Stepmania Online</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link{% if request.path == '/' %} active{% endif %}">Packs</a></li>
      <li class="nav-item"><a href="/songs" class="nav-link{% if request.path == '/songs' %} active{% endif %}">Songs</a></li>
      <li class="nav-item"><a href="/faq" class="nav-link{% if request.path == '/faq' %} active{% endif %}">FAQ</a></li>
      <li class="nav-item"><a href="https://projectoutfox.com" target="_blank" class="nav-link"><img width="30" height="30" src="https://projectoutfox.com/themes/moondance/assets/images/fox-icon.png"></a></li>
    </ul>
  </header>

{% block content %}{% endblock content %}

</html>

{% block scripts %}{% endblock scripts %}
