<!DOCTYPE html>
<html>
<head>
	<title>Pack - {{ pack.name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jcanvas/21.0.1/jcanvas.js"></script>
    {% load static %}


<style>
.collapsing {
  transition: none !important;
}
.render {
      width: 276px;
      height: 500px;
      position: relative;
      border: 1px solid #ccc;
      overflow: hidden;
    }

/* The scrollable area */
.scrollbar-notes {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      z-index: 1;
}

/* Fake scroll height filler */
.fake-scroll {
      width: 1px;
      height: 5000px; /* Large enough for all virtual rows */
}

/* Fixed canvas on top */
.canvas {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      pointer-events: none; /* Let scroll events pass through */
}

.nav-link img {
    border: 1px solid white;
    border-radius: .375rem;
    background-color: transparent;
    transition: all 0.2s ease;
}

.nav-link.active img {
    filter: invert(1);
    border-color: white;  /* Optional: make it contrasty when active */
    background-color: black;
}

</style>

</head>
<body class="container mt-4 bg-dark text-light">
    <div class="row mb-4">
        <div class="col-md-4 text-center">
            {% if song.banner %}
                <img class="img-fluid rounded" src="/media/images/songs/{{ song.banner }}" alt="{{ song.title }}">
            {% endif %}
        </div>
        <div class="col-md-8">
		<h3>{{ song.title }}</h3>
		{% if song.subtitle %}
		<h5>{{ song.subtitle }}</h5>
		{% endif %}
		<h5>{{ song.artist }}</h5>
		<span>{{ song.song_length_formatted }} | {{ song.bpms }} BPM</span><br>
		<span>Pack: <a href="/packs/{{ pack.id }}"> {{ pack.name }}</a></span>
        </div>
    </div>

    <div class="container mt-4 mb-4">
	<span>AVAILABLE MODES</span>
        <!-- Top-level Tabs (Games) -->
        <ul class="nav bottom-border" id="styleTabs" role="tablist">
          {% for style  in style_types %}
          <li class="nav-item" role="presentation">
		<button class="nav-link bg-dark text-light p-1 ml-1 {% if forloop.first %}active{% endif %}"
			id="{{ style }}-tab"
			data-bs-toggle="tab"
			data-bs-target="#{{ style }}"
			type="button"
			role="tab">
		  <img width="64" class="image-thumbnail" src="/static/images/styles/{{ style }}.png" alt="{{ style }}">
		</button>
          </li>
          {% endfor %}
        </ul>
	<hr>
	{% for style, charts in style_types.items %}
 	<div class="tab-content" id="{{ style }}StyleContent">
          <div class="tab-pane fade show {% if forloop.first %}active{% else %}{% endif %}" id="{{ style }}" data-toggle="buttons" role="tablist" aria-labelledby="{{ style }}-tab">
          <!-- Chart buttons -->
          {% for id, chart in charts.items %}
            <input
                type="radio"
		class="btn-check ml-1 {% if chart.difficulty == 'Easy' %}Success
			{% elif chart.difficulty == 'Medium' %}Warning
			{% elif chart.difficulty == 'Hard' %}Danger
			{% elif chart.difficulty == 'Challenge'%}Primary
			{% elif chart.difficulty == 'Edit'%}Secondary
			{% else %}{% endif %}"
                name="btnradio"
		data-id="#{{ chart.id }}"
		role="chart"
		id="button-{{ chart.id }}"
                autocomplete="off"
                onclick="hideOthers('{{ chart.id }}')"
		{% if forloop.first %}{% if forloop.parentloop.first %}checked{% endif %}{% endif %}>
                <label class="btn btn-sm btn-outline-{% if chart.difficulty == 'Easy' %}success
			{% elif chart.difficulty == 'Medium' %}warning
			{% elif chart.difficulty == 'Hard' %}danger
			{% elif chart.difficulty == 'Challenge'%}primary
			{% elif chart.difficulty == 'Edit'%}secondary
			{% else %}info{% endif %}" for="button-{{ chart.id }}">{{ chart.difficulty }} {{ chart.meter }}</label>
            {% endfor %}
          </div>
        </div>
	{% endfor %}
      </div>

<div id="chart-details" class="row bg-dark">
    {% for chart in charts %}
        <div 
            id="collapse-{{ chart.id }}"
	    class="col-6 collapse {% if forloop.first %}show{% endif %} mb-2"
        >
			<span>Peak Notes/Second: {{ chart.npspeak|floatformat:2}}</span>
                        <canvas class="mb-4" id="chart-{{ chart.id }}" style="display: block; box-sizing: border-box; height: 200px; width: 500px;"></canvas>
			<div class="col-4">
			<table class="mb-4 table table-sm table-borderless table-dark">
			<tr>
				<td>Chart Author:</td>
				<td>{{ chart.author}}</td>
			</tr>
			</table>
			</div>

			<div class="row">
			  <div class="col-md-4">
			    <table class="table table-sm table-dark">
			      <tr>
			        <td>Total Notes</td>
				<td>{{ chart.taps.total }}</td>
			      </tr>
			      <tr>
			        <td>Taps</td>
				<td>{{ chart.taps.taps }}</td>
			      </tr>
			      <tr>
			        <td>Jumps</td>
				<td>{{ chart.taps.jumps }}</td>
			      </tr>
			      <tr>
			        <td>Holds</td>
				<td>{{ chart.taps.holds }}</td>
			      </tr>
			      <tr>
			        <td>Mines</td>
				<td>{{ chart.taps.mines }}</td>
			      </tr>
			    </table>
			  </div>
			  <div class="col-md-4">
			  <table class="table table-sm table-dark">
			      <tr>
			        <td>&nbsp;</td>
			      </tr>
			      <tr>
			        <td>Hands</td>
				<td>{{ chart.taps.hands }}</td>
			      </tr>
			      <tr>
			        <td>Rolls</td>
				<td>{{ chart.taps.rolls }}</td>
			      </tr>
			      <tr>
			        <td>Lifts</td>
				<td>{{ chart.taps.lifts }}</td>
			      </tr>
			      <tr>
			        <td>Fakes</td>
				<td>{{ chart.taps.fakes }}</td>
			      </tr>
			    </table>
			    </div>
			</div>
			<table class="table table-sm table-borderless table-dark">
			<tr>
				<td>Chart Key</td>
				<td>{{ chart.chartkey }}</td>
			</tr>
			</table>
			<hr>
			{% if chart.common_packs.count > 1 %}
			<span>Other Packs</span>
			<table class="table table-sm table-dark">
                            {% for common_pack in chart.common_packs %}
			    <tr>
                            {% if common_pack.id != pack.id %}
			    <tr>
                                <td>{{ common_pack.name }}</td>
			        <td><a href="/pack/{{ common_pack.id }}">Download</a></td> 
				</tr>
                            {% endif %}
                            {% endfor %}

			</table>
			{% else %}
			<span>Not found on any other packs</span>
			{% endif %}
	</div>
    {% endfor %}
<div class="col-4">
	    <div id="render" class="render">
	        <div id="scrollbar-notes" class="scrollbar-notes">
		    <div id="fake-scroll" class="fake-scroll"></div>
		</div>
		<canvas id="notefield" width="276"></canvas>
            </div>
	    <div class="col-4">
		<label for="zoom-slider">Zoom: </label>
		<input type="range" id="zoom-slider" min="1" max="16" value="8" step=".1">
			<span id="zoom-value">8</span>
	    </div>
            <div id="filterCheckboxes">
            </div>
            <label>
                {% if translit %}
                <input type="checkbox" id="toggleLanguage"> Show Translated Data
                {% endif %}
            </label>
</div>
</div>

<script>

{% for chart in charts %}
	{% if chart.chartdata %}
        var chart_{{ chart.id }} = {
            notes: {{ chart.chartdata.data|safe }}, 
	    charttype: "{{ chart.charttype }}",
	    width: {{ chart.notefield_width }}
        };

        // You can log the chart to check
	{% endif %}
{% endfor %}
</script>

<script src="/static/js/chartviewtest.js"></script>


<script>

let chartData = null;
let canvas = $('#render canvas');
let chartId = null;

function hideOthers(currentId) {
    chartId = currentId;
    const allCollapses = document.querySelectorAll('#chart-details .collapse');
    const currentCollapse = document.getElementById(`collapse-${currentId}`);
    const currentInstance = bootstrap.Collapse.getOrCreateInstance(currentCollapse, { toggle: false });

    // If the current one is already shown, don't collapse it
    const isAlreadyVisible = currentCollapse.classList.contains('show');

    // Hide all others
    allCollapses.forEach(collapseEl => {
        const id = collapseEl.id.split('collapse-')[1];
        const instance = bootstrap.Collapse.getOrCreateInstance(collapseEl, { toggle: false });
        if (id !== currentId) {
            instance.hide();
        }
    });

    // Only show it if it wasn't already visible
    if (!isAlreadyVisible) {
        currentInstance.show();
    }

    // Render chart on open
    const chartVarName = `chart_${currentId}`;
    chartData = window[chartVarName];
    if (chartData) {
	canvas[0].width = chartData.width;
	canvas.css('width', chartData.width + 'px');
	$('#render').width(chartData.width+20);
	drawNoteField(chartData, zoom);
        //render(canvas, chartData.notes, 10);
    }
}
</script>

<script>
function drawNoteField(chart, zoom) {

	const size = 64;
        // recalulate scroll length
        var length = ((chart.notes.length * size * zoom) + size)
	$(`#fake-scroll`).height(length)

	var scrollTop = $(`#scrollbar-notes`).scrollTop();

        const startMeasure = Math.floor(scrollTop / (size * zoom));
        const endMeasure = Math.min(startMeasure + 24, chart.notes.length - 1);

        let visibleNotes = chart.notes.slice(startMeasure, endMeasure + 1);
        if (visibleNotes.length === 0 && startMeasure < chart.notes.length) {
        	visibleNotes = [chart.notes[startMeasure]];
        }

        // pixel offset
        const pixelOffset = scrollTop % (size * zoom);

        render(canvas, visibleNotes, zoom, chart.charttype);

        canvas.css({
        	'transform': `translateY(-${pixelOffset}px)`,
                'transform-origin': 'top-left'
        });
}

// Update on scroll
$(`.scrollbar-notes`).on('scroll', function() {
	drawNoteField(chartData, zoom)

});

// Set up zoom slider
$('#zoom-slider').on('input', function() {
	// Get the current zoom level
	zoom = $(this).val();
	var zoomSpanId = $('#zoom-value');  // Use the correct selector for your chart
	zoomSpanId.text(zoom);
		drawNoteField(chartData, zoom);
	});

</script>

<script>

function checkHashOnLoad() {
    const fragment = window.location.hash.replace('#', ''); // remove the `#`
    if (fragment) {
        hideOthers(fragment); // call your function with the ID
	const $button = $(`#button-${fragment}`);
	if ($button.length) {
		$button.prop('checked', true);
	}
    }
}

$( document ).ready(function() {
    {% for chart in charts %}
        const ctx{{ chart.id }} = document.getElementById('chart-{{ chart.id }}');
        createChart(ctx{{ chart.id }}, {{ chart.npsgraph }});
    {% endfor %}

    canvas = $('#render canvas')
    {% with charts|first as initial_chart %}
	chartId = {{ initial_chart.id }}
	chartData = chart_{{ initial_chart.id }}
    	drawNoteField(chartData, zoom);
    {% endwith %}

    var url = window.location.href;

    checkHashOnLoad()

    $('input[role="chart"]').on('click', function() {
      const hash = $(this).attr('data-id');
      const newUrl = url.split('#')[0] + hash;
      history.replaceState(null, null, newUrl);
    });
});

function createChart(ctx, data) {
    new Chart(ctx, {
        type: 'line',
        data: {
            labels: data.map((_, index) => index),
            datasets: [{
                data: data,
                borderColor: 'blue',
                borderWidth: 0,
		backgroundColor: 'grey',
                fill: true,
                tension: 0.4 // Interpolation mode for smooth curves
            }]
        },
        options: {
            elements: {
                    point: {
                            radius: 0,
                    }
            },
            responsive: false,
            maintainAspectRatio: false,
            scales: {
                x: {
                    display: false // Hides x-axis since labels aren't needed
                },
                y: {
                    display: true, // Hides y-axis for simplicity
                    //suggestedMax: 15,
                }
            },
            plugins: {
                legend: {
                    display: false // No legend for a minimal look
                }
            }
        }
    });
}
</script>
